.px-container {
  position: relative;
  width: 100%;
  display: block;
  margin-inline: auto;

  &--base {
    max-width: 1240px;
  }

  &--sm {
    max-width: 992px;
  }
}

.px-section:not(.px-section--hero) {
  position: relative;
  width: 100%;
  display: block;
  padding-block: 140px 0;
}

.px-wrapper {
  width: 100%;

  &--base {
    flex: 1;
  }

  &--800 {
    max-width: 800px;
  }

  &--992 {
    max-width: 992px;
  }

  &--sm {
    max-width: 550px;
  }

  &--button {
    margin-top: 12px;
  }

  &__header {
    flex-shrink: 0;
  }
}

.px-highlight {
  &--green {
    padding: 3px 12px;
    border-radius: 8px;
    overflow: hidden;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background-color: var(--accent);
  }
}

.px-section--floating[data-variant='white'] .px-container {
  background-color: var(--white);
}

.px-section {
  &--floating .px-container {
    padding: 60px 80px;
    border-radius: 44px;
  }

  &--hero {
    margin-top: 200px
  }
}