.px-container {
  position: relative;
  width: 100%;
  display: block;
  margin-inline: auto;

  &--base {
    max-width: 1240px;
  }

  &--sm {
    max-width: 992px;
  }
}

.px-section {
  position: relative;
  width: 100%;
  display: block;
  margin-inline: 16px;
  padding-block: 140px 0;
}

.px-wrapper {
  width: 100%;

  &--base {
    flex: 1;
  }

  &--800 {
    max-width: 800px;
  }

  &--button {
    margin-top: 12px;
  }
}

.px-highlight {
  &--green {
    padding: 3px 12px;
    border-radius: 8px;
    overflow: hidden;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background-color: var(--accent);
  }
}