@font-face {
  font-family: 'Space Grotesk';
  src: url('/px-assets/fonts/SpaceGrotesk-Light.woff2') format('woff2'), url('/px-assets/fonts/SpaceGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/px-assets/fonts/SpaceGrotesk-Bold.woff2') format('woff2'), url('/px-assets/fonts/SpaceGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/px-assets/fonts/SpaceGrotesk-Medium.woff2') format('woff2'), url('/px-assets/fonts/SpaceGrotesk-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/px-assets/fonts/SpaceGrotesk-SemiBold.woff2') format('woff2'), url('/px-assets/fonts/SpaceGrotesk-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/px-assets/fonts/SpaceGrotesk-Regular.woff2') format('woff2'), url('/px-assets/fonts/SpaceGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.px-font-default {
  font-family: 'Space Grotesk', sans-serif;
  color: var(--black);
}

.px-section {
  &__heading {
    @extend .px-font-default;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 1.2em;
    letter-spacing: -1.5px;
    text-decoration: none
  }

  &__miniheading {
    @extend .px-font-default;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1em;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__paragraph {
    @extend .px-font-default;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5em;
    text-decoration: none;
  }
}

.px-btn__paragraph {
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.2px;
  color: white;
  mix-blend-mode: difference;
}