:root {
  --par-font: 'Space Grotesk', sans-serif;
  --head-font: 'Space Grotesk', sans-serif;
  --accent: #B9FF66;
  --black: #191A23;
  --white: #F3F3F3;
}

$gap-int: 0, 4, 5, 10, 15, 16, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 100, 120;

@each $gap in $gap-int {
  .gap-#{$gap} {
    gap: #{$gap}px;
  }
}